h3{
    text-align: center;
    color:skyblue;
    font-size: 40px;
    
}
a{
    color: skyblue;
    text-decoration:none;
}

h1{
    text-align: center;
    font-size: 80px;
}

 a:hover{
    color:rgb(213, 228, 234);
   
    
}

.list_header1{
    color: skyblue;
    font-size: 40px;
    display: inline;
    padding: 150px;
    
    
}


.skills{
    text-align: right;
    font-family:'Times New Roman';
    font-size: 20px;
    list-style-position: inside;
}

.col1{
    column-count: 3;
    padding-top: 50px;
}

.achievements{
    text-align: center;
    font-family:'Times New Roman';
    font-size: 20px;
    list-style-position: inside;

}