h3{
    text-align: center;
    color:skyblue;
    font-size: 40px;
    
}
a{
    color: skyblue;
    text-decoration:none;
}

h1{
    text-align: center;
    font-size: 80px;
}

 a:hover{
    color:rgb(213, 228, 234);
   
    
}

.list_header1{
    color: skyblue;
    font-size: 40px;
    display: inline;
    padding: 150px;
    
    
}


.skills{
    text-align: right;
    font-family:'Times New Roman';
    font-size: 20px;
    list-style-position: inside;
}

.col1{
    column-count: 3;
    padding-top: 50px;
   
}

.achievements{
    text-align: center;
    font-family:'Times New Roman';
    font-size: 20px;
    list-style-position: inside;

}



li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }